* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.top-commercial,
.top-commercial a {
  font-family: book-web;
  font-size: 14px;
  text-align: center;
  color: rgb(91, 90, 90);
  padding: 16px;
  background: white;
  position: sticky;
  top: 0;
}
/* navbar */
.main-logo {
  padding: 16px;
}
.main-logo h1 {
  padding-left: 8px;
}

.menu-item {
  display: inline-block;

  padding: 10px;
}
.menu-item:hover {
  background: rgba(75, 76, 84, 0.592);
}

.products-menu li,
.pages-menu li {
  list-style: none;
  display: inline-block;
}
.item-text {
  color: white;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif; */
  font-family: medium-web;
  font-size: 14px;
}
@font-face {
  font-family: medium-web;
  src: url(https://cdn-design.tesla.com/assets/GothamSSm-Medium_Web.woff2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.model3-section {
  color: white;
  background: url(./assets/Model-3-Main.jpg) no-repeat center center/cover;
  width: 100%;
}

/* main */
main {
  padding: 500px;
  color: white;
  text-align: center;
}
main h1 {
  font-size: 40px;
  font-family: book-web;
  margin: 0 auto;
}
main a {
  color: white;
  font-family: light-web;
  font-size: 14px;
}
@font-face {
  font-family: light-web;
  src: url(https://cdn-design.tesla.com/assets/GothamSSm-Light_Web.woff2);
}

@font-face {
  font-family: book-web;
  src: url(https://cdn-design.tesla.com/assets/GothamSSm-Book_Web.woff2);
}

.main-header {
  position: relative;
  bottom: 27rem;
}
/* features on bottom of model3 */
.features {
  display: flex;
  width: 728px;
  justify-content: space-around;
  font-family: book-web;
}
.feature-item {
  color: white;
  text-align: center;
  width: 28%;
}
.feature-item h2 {
  font-size: 28px;
  display: inline-block;
}
.feature-item p {
  font-size: 12px;
  line-height: 12px;
}
@font-face {
  font-family: bold-web;
  src: url(https://cdn-design.tesla.com/tds-fonts/x/woff2/GothamSSm-Bold_Web.woff2);
}

.model3-section .bottom {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 50px;
  width: 7;
}

.buy-btn {
  font-size: 14px;
  background: transparent;
  font-family: medium-web;
  width: 204px;
  height: 40px;
  text-align: center;
  border: 3px solid white;
  color: white;
  cursor: pointer;
  border-radius: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-btn:hover {
  color: black;
  background: white;
}

.floating-chat-btn {
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  /* padding: 18px; */
  position: fixed;
  bottom: 90px;
  border: 1px solid rgba(158, 156, 156, 0.702);
  right: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* safety section */
.safety-section {
  display: flex;
}

.safety-features img {
  padding-top: 200px;
  padding-left: 20px;
  width: 110%;
}
.safety-info {
  text-align: left;
  padding: 32px 40px;
  width: 95%;
  line-height: 1.2rem;
  height: 100vh;
}
.safety-info h3 {
  font-family: light-web;
  font-size: 17px;
  color: rgb(79, 79, 81);
  line-height: 2.6rem;
}
.safety-info h2 {
  font-family: book-web;
}
.safety-text,
.safety-link a {
  font-size: 14px;
  font-family: light-web;
  color: rgb(49, 49, 49);
}
.safety-text {
  padding-top: 26px;
  font-size: 14px;
  font-weight: 500;
}

.learn-more-btn {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 118px;
  margin-right: 12px;
}
.learn-more-btn-text {
  padding: auto;
  font-family: medium-web;
}
.learn-more-btn-svg {
  border-radius: 50%;
  border: 3px solid black;
}
.learn-more-btn:hover .learn-more-btn-svg {
  background-color: black;
}
.learn-more-btn:hover {
  cursor: pointer;
}

.safety-section .buy-btn,
.left-footer .buy-btn {
  color: black;
  border: 3px solid black;
}

.actions {
  display: flex;
  align-items: center;
}
.actions .buy-btn:hover {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

/* performance section */
.performance-section {
  height: 100vh;
}
.performance-background {
  background: url(./assets/Model-3-Performance.jpg) no-repeat center
    center/cover;
  height: 80%;
  display: flex;
}

.performance-section .features {
  justify-content: space-between;
  font-family: book-web;
  padding-bottom: 50px;
}

.features-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: flex-end;
}
footer {
  font-family: book-web;
  display: flex;
  justify-content: center;
  height: 20%;
  align-items: center;
  /* padding: 17px; */
  /* gap: 4%; */
}
footer p,
a {
  font-size: 17px;
  color: rgb(99, 97, 97);
}
.left-footer h2 {
  font-size: 28px;
}
.left-footer {
  /* width: 400px; */
}
.right-footer p,
a {
  font-size: 14px;
}
.right-footer {
  width: 42%;
  line-height: 20px;
}

.left-footer .actions {
  padding-top: 15px;
}
