* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

/* navbar */
.main-logo {
  padding: 16px;
}
.main-logo h1 {
  padding-left: 8px;
}

.menu-item {
  display: inline-block;

  padding: 10px;
}

.products-menu li,
.pages-menu li {
  list-style: none;
  display: inline-block;
}
.item-text {
  color: white;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif; */
  font-family: medium-web;
  font-size: 14px;
}
@font-face {
  font-family: medium-web;
  src: url(https://cdn-design.tesla.com/assets/GothamSSm-Medium_Web.woff2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.model3-section {
  color: white;
  background: url(./assets/Model-3-Main.jpg) no-repeat center center/cover;
  width: 100%;
}

/* main */
main {
  padding: 600px;
  color: white;
  text-align: center;
}
main h1 {
  font-size: 40px;
  font-family: book-web;
  margin: 0 auto;
}
main a {
  color: white;
  font-family: light-web;
  font-size: 14px;
}
@font-face {
  font-family: light-web;
  src: url(https://cdn-design.tesla.com/assets/GothamSSm-Light_Web.woff2);
}

@font-face {
  font-family: book-web;
  src: url(https://cdn-design.tesla.com/assets/GothamSSm-Book_Web.woff2);
}

.main-header {
  position: relative;
  bottom: 27rem;
}
.buy-btn {
  display: inline-block;
  font-size: 18px;
  background: rgb(13, 75, 115);
  padding: 8px 15px;
  border: none;
  color: white;
  cursor: pointer;
}

.features {
  display: flex;
}
.bottom {
  display: flex;
}

.floating-chat {
  background-color: white;
  border-radius: 50%;
  width: 100px;
  padding-left: 500px;
}

.safety-info {
  text-align: left;
  padding-left: 800px;
}
.plus-btn {
  border-radius: 100%;
  border: 1px solid black;
  width: 35px;
}

.performance-background {
  background: url(./assets/Model-3-Performance.jpg) no-repeat center
    center/cover;
  height: 900px;
}
.performance-section .performance-info .features {
  padding-top: 800px;
  color: white;
  padding-left: 300px;
}

footer {
  display: flex;
}
